:root {
    --heading-background-color: rgba(214, 148, 63, 0.495);
    --heading-text-color: #777;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: var(--heading-text-color);
    padding: var(--padding);
    text-align: center;
}

nav {
    background-color: #444; 
    padding: var(--padding); 
    text-align: center; 
}

nav a {
    color: var(--heading-text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto; 
}

main img {
    border-radius: 50%; 
    margin-top: 1rem;
}

aside {
    width: 300px; 
    margin: 20px; 
    border: 2px solid #ccc; 
    padding: var(--padding); 
    background-color: #f9f9f9; 
    color: var(--heading-text-color); 
}

aside img {
    width: 200px; 
    height: auto; 
}

h1 {
    font-size: 2.5rem; 
    font-family: var(--heading-font);
    color: var(--heading-text-color); 
    margin-bottom: 1rem; 
    text-align: center; 
    font-weight: bold; 
    padding: var(--padding);
}

p {
    padding: 0; 
}

footer {
    background-color: #333;
    color: var(--heading-text-color);
    text-align: center; 
    padding: var(--padding);
    margin-top: 2rem; 
    border-top: 2px solid #fff; 
}